<div class="center">
	<form class="inline_block">
		<div>
			<label for="login">{{'LOGIN' | translate}}: </label>
			<input type="text" class="login" name="login" placeholder="login" ng-model="forgotPassword.login"/>
		</div>
		<div class="center">
			<button name="getpassword" class="getpassword" ng-click="forgotPassword.getPassword()">{{'GET_PASSWORD' | translate}}</button>
		</div>
		<div style="visibility: hidden">
			 <div class="md-dialog-container forgotPassword">
				<md-dialog>
					<md-dialog-content class="md-dialog-content">
						<p>{{'YOUR_PASSWORD' | translate}} '{{forgotPassword.password}}'</p>
					</md-dialog-content>
					<md-dialog-actions>
						<md-button ng-click="forgotPassword.closeDialog()">{{'GO_TO_LOGIN' | translate}}</md-button>
					</md-dialog-actions>
				</md-dialog>
			 </div>
		</div>
	</form>
	 <div>
		<a ui-sref="login">{{'LOGIN' | translate}}</a>
	</div>
</div>
