<div class="comboList center">
   <div ng-model="model" type="text" class="selected-item" ng-click="comboBox.showHide()">{{model}}</div>
   <div ng-show="comboBox.isVisible">
       <input ng-model="textForFilter" type="text" class="selected-item" placeholder="search"/>
       <ul class="list">
           <li ng-repeat="item in comboBox.itemsList" ng-click="comboBox.chooseItem(item)">{{ item.name }}</li>
           <button ng-click="comboBox.getMore()" ng-hide="comboBox.noItems">More</button>
       </ul>
   </div>
</div>

